<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">
    
    <title>Proffy | Sua plataforma de estudos online</title>
 
<link rel="shortcut icon" href="/images/favicon.png" type="image/png">
<link rel= "stylesheet" href="/styles/main.css">
<link rel= "stylesheet" href="/styles/partials/saved-registration.css">

<link rel= "stylesheet" href="/styles/partials/header.css">
<link rel= "stylesheet" href="/styles/partials/forms.css">
<link rel= "stylesheet" href="/styles/partials/page-study.css">
<link rel= "stylesheet" href="/styles/partials/page-landing.css">


    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;
    display=swap" rel="stylesheet">
   
</head>

<body id="saved-registration">

    <div id="container"> 
        <div class="logo-container">
            
            <h2> Tudo certo, seu cadastro está na nossa lista de professores. 
                Agora é só ficar de olho no seu WhatsApp.
            </h2>
        </div>
    
    <img class="saved-image" src="/images/success-background.svg" alt="Plataforma de Estudos">
   
   <div class="access-list">

       <button type="button" id="accessList"> Acessar a lista </button>

   </div>
        

      
      
   </div>

    <p class="total-connections">
        Total de 200 conexões já realizadas
        <img src="/images/icons/purple-heart.svg" alt="Coraçao roxo">
    </p>
</div>
     
</body>
</html>